<!-- game.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blind Test</title>
	  <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="https://cdn.glitch.global/b6f58b33-3195-4f42-b176-d56c75f377a4/icon.png?v=1685623274271">
  </head>
  <body>
    <nav>
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li id="registerLi"><a href="register.html" id="registerLink">Register</a></li>
			<li><a href="upload.html">Upload Playlist</a></li>
      <li><a href="players.html">Players</a></li>
			<li><a href="game.html">Play Game</a></li>
		</ul>
	</nav>
	<h1>Game Page</h1>
    <div id="player-list"></div>
    <audio id="audio-player">
      <source src="" type="audio/mp3">
      Your browser does not support the audio element.
    </audio>
    <button id="play-button" style="width: 100px;">Play</button>
    <button id="pause-button" style="display:none;width: 100px;">Pause</button>
    <div>
      <button id="next-button">Next artist</button>
      <button id="display-button">Display artist</button>
    </div>
    
    <script>
    const uid = localStorage.getItem("uid");

    if(uid) {
      const registerLi = document.getElementById("registerLi");
      const registerLink = document.getElementById("registerLink");
      // User is logged in, change "Register" button to "Profile"
      registerLink.textContent = "Profile";
      registerLink.href = "connected.html";
    }
    </script>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/game.js"></script>
  </body>
</html>
