<!DOCTYPE html>
<html>
<head>
	<title>Blind Test - More Info</title>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<nav>
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="upload.html">Upload Playlist</a></li>
			<li><a href="game.html">Play Game</a></li>
		</ul>
	</nav>

	<div>
		<h2>Welcome to Blind Test!</h2>
		<p>Before we get started, please provide some more information about yourself:</p>
		<label for="name-input">Name:</label>
		<input type="text" id="name-input">
		<label for="color-input">Favorite color:</label>
		<input type="text" id="color-input">
		<button id="submit-button">Submit</button>
	</div>

	<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-database.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="../js/firebase-config.js"></script>
	<script src="../js/more-info.js"></script>
</body>
</html>
