<!DOCTYPE html>
<html>
<head>
	<title>Blind Test</title>
	<link rel="stylesheet" href="../static/style.css">
  <link rel="icon" type="image/png" href="https://cdn.glitch.global/b6f58b33-3195-4f42-b176-d56c75f377a4/icon.png?v=1685623274271">
</head>
<body>
	<nav>
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li id="registerLi"><a href="register.html" id="registerLink">Register</a></li>
			<li><a href="upload.html">Upload Playlist</a></li>
      <li><a href="players.html">Players</a></li>
			<li><a href="game.html">Play Game</a></li>
		</ul>
	</nav>

	<div>
		<label for="playlist-input">Select your playlist file:</label>
		<input type="file" id="playlist-input" accept=".txt" multiple>
		<label for="playlist-input">... Or select a theme below:</label>
		<button id="future-funk-button">Future Funk</button>
		<button id="lofi-button">Lofi</button>
		<button id="jazz-button">Jazz</button>
		<button id="random-playlist-button">Random playlist from somebody around the world</button>
	</div>
	<div>
		<table class="table table-responsive library-list">
			<thead>
				<tr>
					<th style="media-cell">Playlists</th>
					<th style="number-cell">Number of artists</th>
					<th "edit-entry">Remove</th>
					<th "select-entry">Select</th>
				</tr>
			</thead>
			<tbody id="playlist-list">
			</tbody>
		</table>
	</div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-database.js"></script>
	<script src="../js/blindtest.js"></script>
</body>
</html>
