<!DOCTYPE html>
<html>
<head>
	<title>Blind Test</title>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<nav>
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="register.html">Register</a></li>
			<li><a href="upload.html">Upload Playlist</a></li>
			<li><a href="game.html">Play Game</a></li>
		</ul>
	</nav>

	<div>
		<label for="playlist-input">Select your playlist file:</label>
		<input type="file" id="playlist-input" accept=".txt" multiple>
		<button id="reset-button">Reset Playlists</button>
		<div id="dropZone" class="drop-zone">
			<p>You can drag and drop your files here...</p>
		</div>
		<label for="playlist-input">... Or select a theme bellow:</label>
		<button id="future-funk-button">Future Funk</button>
		<button id="lofi-button">Lofi</button>
		<button id="jazz-button">Jazz</button>
		<button id="random-playlist-button">Random playlist from somebody aroud the world</button>
	</div>
	<div>
		<table class="table table-responsive library-list">
			<thead>
				<tr>
					<th style="media-cell">Playlists</th>
					<th style="number-cell">Number of songs</th>
					<th "edit-entry">Remove</th>
				</tr>
			</thead>
			<tbody id="playlist-list">
			</tbody>
		</table>
	</div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="../js/blindtest.js"></script>
</body>
</html>
